.searchContainer {
  position: relative;
  width: 100%;
  border-radius: 50px;
  background: linear-gradient(135deg, rgba(50, 103, 73, 0.7) 0%, rgba(50, 103, 73, 0.9) 100%); /* Updated color */
  padding: 5px;
  display: flex;
  align-items: center;

  &::after,
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: inherit;
    position: absolute;
  }

  &::before {
    top: -1px;
    left: -1px;
    background: linear-gradient(0deg, rgba(50, 103, 73, 0.7) 0%, rgba(255, 255, 255, 0.9) 100%); /* Updated color */
    z-index: -1;
  }

  &::after {
    bottom: -1px;
    right: -1px;
    background: linear-gradient(0deg, rgba(33, 68, 48, 0.7) 0%, rgba(55, 85, 61, 0.9) 100%); /* Updated color */
    box-shadow: rgba(79, 156, 232, 0.7019607843) 3px 3px 5px 0px, rgba(79, 156, 232, 0.7019607843) 5px 5px 20px 0px;
    z-index: -2;
  }
}

.input {
  padding: 10px;
  width: 100%;
  background: linear-gradient(135deg, rgba(50, 103, 73, 0.7) 0%, rgba(50, 103, 73, 0.9) 100%); /* Updated color */
  border: none;
  color: #9EBCD9;
  font-size: 20px;
  border-radius: 50px;

  &:focus {
    outline: none;
    background: linear-gradient(135deg, rgba(50, 103, 73, 0.9) 0%, rgba(50, 103, 73, 1) 100%); /* Updated color */
  }
}

.searchIcon {
  width: 50px;
  aspect-ratio: 1;
  border-left: 2px solid white;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-radius: 50%;
  padding-left: 12px;
  margin-right: 10px;

  &:hover {
    border-left: 3px solid white;
  }

  path {
    fill: white;
  }
}
