@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Petrona:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap");

// customizing bootstrap colors
// $primary: #49b31f;
// $secondary: #ea7627;
// $warning: #ff4d00;
// $success: #eef3ff;
// $black: #000000;
// $softBlack: #4e4e4e;
// $white: #fff;
// $info: #808080;

$primary: rgb(50, 103, 73);
$secondary: #ea7627;
$warning: #ff4d00;
$success: #d3e0d9;
$black: #000000;
$softBlack: #4e4e4e;
$white: #f2f2f2;
$info: #808080;

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1180px,
    xxl: 1320px,
);
$grid-breakpoints: (
    xs: 0,
    vsm: 400px,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
);

@import "../node_modules/bootstrap/scss/bootstrap.scss";
// @import "~bootstrap/scss/bootstrap";
.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fs-14 {
    font-size: 14px;
}

.fs-15 {
    font-size: 15px;
}

.fs-16 {
    font-size: 16px;
}

.fs-17 {
    font-size: 17px;
}

.fs-18 {
    font-size: 18px;
}

.fs-19 {
    font-size: 19px;
}

.fs-20 {
    font-size: 20px;
}

.fs-21 {
    font-size: 21px;
}

.fs-22 {
    font-size: 22px;
}

.fs-23 {
    font-size: 23px;
}

.fs-24 {
    font-size: 24px;
}

h5 {
    font-size: 1rem;
    color: $black;
}

h6 {
    font-size: 0.875rem;
    color: $black;
    font-weight: 500;
}

p {
    margin: 0px;
}

.btn-primary {
    color: #ffffff;
}

.btn-check:checked + .btn, :not(.btn-check) + .btn:active, .btn:first-child:active, .btn.active, .btn.show,
.btn-primary:hover, .btn-warning:hover{
    color: #ffffff !important;
}

.btn-warning {
    color: #ffffff;
}

.slick-dots {
    display: flex !important;
    justify-content: center;
    margin: 0;
    padding: 1rem 0;
    list-style-type: none;
    li {
      margin: 0 0.25rem;
      button {
        display: block;
        width: 0.8rem;
        height: 0.8rem;
        padding: 0;
        border: none;
        border-radius: 100%;
        background-color: #c4c4c4;
        text-indent: -9999px;
      }
    }
   
    li.slick-active button {
      background-color: $primary;
      width: 2rem;
      border-radius: 20px;
      margin-right: 1rem;
    }

    .slick-active{
        margin-right: 1rem;
    }
  }

  .slick-list {
    margin: 0 -10px;
    @media (max-width: 576px) {
      margin: 0 -5px;
    }
  }

  .slick-slide>div {
    padding: 15px 10px;
    @media (max-width: 576px) {
      padding: 15px 5px;
    }
  }

  .slick-custom{
    top: 50%;
    transform: translate(0%, -50%);
    z-index: 4;
    width: 55px;
    height: 55px;
  }

  .slick-custom:active{
    color: #fff;
  }

  .slick-custom-prev{
    position: absolute;
    left: -4rem;
    @media (max-width: 576px) {
      left: -0.5rem;
    }
  }

  .slick-custom-next{
    position: absolute;
    right: -4rem;
    @media (max-width: 576px) {
      right: -0.5rem;
    }
  }
// 

// 
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    text-decoration: none !important;
    transition: all 0.3s ease-in;
    scroll-behavior: smooth;
}
a {
    color: #000000;
}

body{
    background-color: #f8f8f8;
}

.btn{
    font-size: 18px;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}


.btn-secondary {
    color: $light;
    font-weight: 500;
    border: 2px solid $secondary;
    transition: all 1000ms;

    &:hover {
        color: $secondary;
        background-color: transparent;
        border: 2px solid $secondary;
    }
}

.btn-outline-secondary {
    border: none;
    border-radius: 5px;
    color: $secondary;
    transition: all 1000ms;
    position: relative;
    overflow: hidden;
    outline: 2px solid $secondary;

    &:hover {
        color: #ffffff;
        transform: scale(1.1);
        outline: 2px solid $secondary;
        box-shadow: 4px 5px 17px -4px $secondary;

        &::before {
            width: 250%;
        }
    }
}

section {
    overflow: hidden;
    margin-bottom: 4.5rem;
}

main{
    overflow: hidden;
}

.header {
    font-size: 33px;
    font-weight: 600;
    position: relative;
    text-transform: capitalize;
    margin-bottom: 2rem;
}

.sub-header {
    font-size: 18px;
    font-weight: 500;
    padding-left: 7rem;
    color: $primary;
    position: relative;
    margin-bottom: 0.5rem;
    text-transform: uppercase;

    &::after {
        position: absolute;
        content: "";
        width: 6rem;
        height: 2px;
        left: 0%;
        bottom: 50%;
        background-color: $primary;
    }
}

.sub-header-white {
    color: $white !important;

    &::after {
        background-color: $white !important;
    }
}
